<html>
<head>
    <title>Crop Exchange</title>
    <link rel="stylesheet" type="text/css" href="../asset/crop_exchange.css">
</head>
<body>
    <form method="" action="" enctype="">
        <fieldset style="width: 30%;">
            <legend>Crop Exchange</legend>
        <ul>
            <li><a href="Post_exchange.html">Post for Exchange Crop</a></li>
            <li><a href="../view/view_crops.html">View All Post</a></li>
        <br>
        <button type="button" onclick="window.location.href='farmer_menu.html';">Back</button>

        </fieldset>
    </form>
</body>
</html>
