<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Farmer Menu</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="../asset/farmer_menu.css">
</head>
<body>
    <form method="" action="" enctype="">
        <fieldset style="width: 30%;">
            <legend><h2>Farmer's Menu</h2></legend>
            <ul>
                <li><a href="f.html">Dashboard</a></li>
                <li><a href="crop_exchange.html">Exchange Crop</a></li>
                <li><a href="tutorial_upload.html">Tutorial Upload</a></li>
                <!--  <li><a href="farmers_account.html">Accounts</a></li> -->
                <!-- <li><a href="crop_donation.html">Crop Donation</a></li> -->
                <li><a href="../view/weather.html">Weather Alert</a></li>
                <li><a href="../view/get_farmer_profile.html">Profile</a></li>
            </ul>

            <br>
            <br>
            

            <li><a class="nav-link" href="../controller/logout.php">Logout</a></li>

        </fieldset>
        </form>
    </body>
    </html>
