<html>
<head>
    <title>Video Tutorials</title>
    <link rel="stylesheet" type="text/css" href="../asset/tutorial_upload.css">
</head>
<body>
    <form method="" action="" enctype="">
        <fieldset style="width: 30%;">
            <legend>Video Tutorials</legend>
        <ul>
            <li><a href="upload_video.html">Create Tutorial</a></li>
            <li><a href="../view/view_videos.html">View Tutorial</a></li>
        <br>
        <button type="button" onclick="window.location.href='farmer_menu.html';">Back</button>

        </fieldset>
    </form>
</body>
</html>
