<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Video Tutorials</title>
    <link rel="stylesheet" href="../asset/view_videos.css">
</head>
<body>
    <h2>My Video Tutorials</h2>
    <button type="button" onclick="window.location.href='tutorial_upload.html'" >Back</button>
    <div id="video-list"></div> <!-- Container for displaying videos -->
    <script src="../asset/view_videos.js"></script>
</body>
</html>
