<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Crop Posts</title>
    <script src="../asset/view_crops.js" defer></script>
    <link rel="stylesheet" type="text/css" href="../asset/view_crops.css">
</head>
<body>
    <h1>Crop Exchange Posts</h1>
    <table border="1" cellpadding="10" cellspacing="0" id="cropTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Crop Name</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Posted At</th>
                <th>Action</th> <!-- Added this column for the delete button -->
            </tr>
        </thead>
        <tbody>
            <!-- Data will be populated dynamically via JavaScript -->
        </tbody>
    </table>

    <button onclick="window.location.href='../view/crop_exchange.html'" >Back</button>
</body>
</html>
