<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather Update</title>
    <link rel="stylesheet" type="text/css" href="../asset/weather.css">
</head>
<body>
    <form id="weather-form">
        <fieldset">
            <legend>Weather Update</legend>
            <label for="city">Enter City:</label>
            <input type="text" id="city" name="city" required>
            <button type="submit">Get Weather</button>
            <br><br>
            <div id="weather-info"></div>
            <br>
            <button type="button" onclick="window.location.href='../view/farmer_menu.html';">Back</button>
        </fieldset>
    </form>
    <script src="../asset/weather.js"></script>
</body>
</html>
